<!doctype html>
<html>
  <head>
    <title>Soft Hyphenator - Online text hyphenation</title>
    <link rel="stylesheet" href="css/style.css" />
    <meta name="description" content="Free online hyphenation of HTML content using soft hyphens" />
    <link rel="canonical" href="http://softhyphen.com/" />
    <link rel="shortcut" href="/favicon.png" />
  </head>

  <body>
    <h1><a href="/">Soft Hyphenator</a></h1>

    <div id="container">
      <form method="post" action="/hyphenate">
        <textarea name="content" id="content" rows="20" cols="80">{{ content|escape }}</textarea>
        <div>
          <select name="lang" id="lang">
            <option value="{{ lang|escape }}" selected>{{ lang_name|default:lang|escape }}</option>
            {% for language in languages %}
            <option value="{{ language.0|escape }}">{{ language.1|escape }}</option>
            {% endfor %}
          </select>
          <input type="submit" name="hyphenate" value="Hyphenate" />
        </div>
      </form>

{% if output %}
      <div id="output">
        <textarea readonly rows="20" cols="80">{{ output|escape }}</textarea>
      </div>
{% else %}
      <div id="instructions">
        <h3>Instructions</h3>
        <ol>
          <li>Paste your HTML into the text box on the left.</li>
          <li>Choose the primary language of the text.</li>
          <li>Hyphenate!</li>
        </ol>

        <h3>What is a soft hyphen?</h3>
        <p>A soft-hyphen (<code>&amp;shy;</code>) is a special character that indicates that a word can be broken up with a hyphen, if need be. This is useful for justification.</p>

        <h3>Browser support</h3>

        <ul>
          <li>Internet Explorer 5.5 and later</li>
          <li>Firefox 3.0 and later</li>
          <li>Safari 3.0 and later</li>
          <li>Chrome 1.0 and later</li>
          <li>Opera 9.6 and later</li>
        </ul>
      </div>
{% endif %}

      <div id="demo">
        <h2>Sample</h2>

        <table>
          <tr>
            <th>Un-hyphenated</th>
            <th>Soft-Hyphenated</th>
          </tr>
          <tr>
            <td>
              <p>All are equal before the law and are entitled without any discrimination to equal protection of the law. All are entitled to equal protection against any discrimination in violation of this Declaration and against any incitement to such discrimination.</p>
            </td>
            <td>
              <p>All are equal be&shy;fore the law and are en&shy;titled without any dis&shy;crim&shy;in&shy;a&shy;tion to equal pro&shy;tec&shy;tion of the law. All are en&shy;titled to equal pro&shy;tec&shy;tion against any dis&shy;crim&shy;in&shy;a&shy;tion in vi&shy;ol&shy;a&shy;tion of this De&shy;clar&shy;a&shy;tion and against any in&shy;cite&shy;ment to such dis&shy;crim&shy;in&shy;a&shy;tion.</p>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <p id="footer">HTML Hyphenator by <a href="http://www.fortes.com/">Filipe Fortes</a></p>
  </body>
</html>
