body {
  background: #00599c;
  font-family: Calibri, Helvetica, Sans-Serif;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

h1 {
  margin: 0;
}

h1 a {
  text-indent: -999em;
  display: block;
  background: url('/img/softhyphenator.png') no-repeat;
  width: 900px;
  height: 150px;
  margin: 0 auto;
}

#container {
  position: relative;
  width: 840px;
  padding: 20px;
  margin: 0 auto 40px;
  background: #eef;
  border: 2px solid #ddd;
  border-radius: 8px;
}

#container textarea {
  width: 400px;
  font-size: 12px;
  line-height: 16px;
  font-family: Consolas, Monospace;
}

#container form {
  width: 400px;
}

select#lang {
  float: right;
}

#output, #instructions {
  position: absolute;
  right: 25px;
  top: 20px;
  width: 400px;
}

#instructions p {
  text-align: justify;
  margin 20px 0;
}

h2, h3 {
  margin: 0;
  line-height: 20px;
}

#demo {
  margin-top: 40px;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

#demo p {
  font-size: 16px;
  font-family: Georgia, Serif;
  margin-top: 0;
  text-align: justify;
}

#demo table {
  width: 430px;
  margin: 0 auto;
}

#demo td {
  vertical-align: top;
  padding: 0 20px;
}

#footer {
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}

#footer a {
  color: #fff;
}
